body { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #eee;
    margin: 0 !important;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 20px;

    h1 {
        font-size: 100px;
        font-weight: 800;
        text-align: center;
    }
}

#celebrate {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrong {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 35px;
    opacity: 1;
    transition: 400ms;

    h2 {
        font-size: 40px;
        word-spacing: -6px;
        color: #9c9c9c;
        transform: translateY(2px);

        span { 
            transition: 200ms;
            cursor: pointer;
        }
        span:hover { color: #8f8f8f; }
        span.selected { color: #353535; }
    }
    
    input[type="text"] {
        max-width: 25px;
    }
    input, select {
        transform: translateY(5px);
        font-size: 20px;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px #00000030;
        background: #fff;
        cursor: text;
    }

    &.helg input[type="date"], &.dato h2 { display: none; }
}
/* .wrong:hover { opacity: 1; } */

.countDown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;

    * { margin: 0; }

    > p { 
        font-size: 30px;
        font-weight: 700;
    }

    .time-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        > p { font-size: 22px; }
        .time { 
            font-size: 40px;
            font-weight: 600;
        }
    }
}


@media (max-width: 1100px) {
    h1 { font-size: 80px !important; }
    .countDown-container > p { display: none; }
}

@media (max-width: 550px) {
    h1 { font-size: 60px !important; }
}